



<div class="row">
  <div class="span4">
    <p><h5></h5>

   <div class align="img-polaroid">
   <%= image_tag "Bank Ad.jpg"%>
   </div>
    <p class="muted"><small>Advertisement</small></p>
    </p>
    </div>

</div>